@model CombinedClasses

<h1 class="text-primary pb-sm-3">All Users</h1>
<partial name="_Notifications" />
<div class="btn-group pb-sm-3" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-info">Search Criteria</button>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="">
            <a class="dropdown-item" href="SearchById">By ID</a>
            <a class="dropdown-item" href="SearchByName">By Name</a>
            <a class="dropdown-item" href="SearchByIdcard">By Id Card Number</a>
            <a class="dropdown-item" href="GetAllData">Get All Data</a>
        </div>
    </div>
    
</div>
@if (@Model.Category!.SearchType == "Id")
{
    <form method="post" action="/Access/GetInfoById">
        <input type="text" id="User Input" name="Id" placeholder="Enter User Id"/>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i> Search</button>
        
    </form>
}
else if (@Model.Category!.SearchType == "Name")
{
    <form method="post" action="/Access/GetInfoByName">
        <input type="text" id="User Input" name="Name" placeholder="Enter Full Name"/>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i> Search</button>
    </form>
}
else if (@Model.Category!.SearchType == "Idcard")
{
    <form method="post" action="/Access/GetInfoByIdcard">
        <input type="text" id="User Input" name="Idcard"placeholder="Enter ID Card Number"/>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i> Search</button>
    </form>
}
else if (@Model.Category!.SearchType == "AllInfo")
{
    <form method="post" action="/Access/GetAllInfo">
        <input type="text" id="User Input" name="AllInfo" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i> Search</button>
    </form>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"><div style="font-size:medium">Row</div></th>
            <th scope="col"><div style="font-size:medium">Full Name</div></th>
            <th scope="col"><div style="font-size:medium">User Id</div></th>
            <th scope="col"><div style="font-size:medium">Id Card Number</div></th>
            <th scope="col"><div style="font-size:medium">Address</div></th>
            <th scope="col"><div style="font-size:medium">Contact Number</div></th>
            <th scope="col"><div style="font-size:medium">Email Address</div></th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.RegisteredUsers!.Count > 0)
        {
            @for (int i = 1; i <= Model.RegisteredUsers!.Count; i++)
            {
                
                <tr class="table-info">
                    
                    <td>
                        <div style="font-size:larger"> @i </div>
                    </td>
                  
                    <td>
                        <div style="font-size:larger">@Model.RegisteredUsers[i-1].FullName </div>
                        
                    </td>
                    <td>
                        <div style="font-size:larger">@Model.RegisteredUsers[i-1].Id </div>
                    </td>
                    <td>
                        <div style="font-size:larger">@Model.RegisteredUsers[i-1].IdCardNum </div>
                    </td>
                    <td>
                        <div style="font-size:larger">@Model.RegisteredUsers[i-1].Address </div>
                    </td>
                    <td>
                        <div style="font-size:larger">@Model.RegisteredUsers[i-1].ContactNumber </div>
                    </td>
                    <td>
                        <div style="font-size:larger">@Model.RegisteredUsers[i-1].EmailAddress </div>
                    </td>
                </tr>
               
            }
        }
    </tbody>
</table>
